
body {
    background-color:#000000;
    font-family: "Lucida Grande", "sans-serif";
    color: #FFFFFF
  }

h1 {
    color: #FFFFFF;
    text-align: center;
    font-family: "Lucida Grande", "sans-serif";
    font-size: 64px;
}

h2 {
    color: #FFFFFF;
    font-size: 30px;
    text-shadow: 5px 5px 2px #808080;
    font-family: "Lucida Grande", "sans-serif";
    
    }

p {
    color: #FFFFFF;
    font-family: "Lucida Grande";
    font-size: 24px;
    padding-top: 20px;
    }

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 525px;
    height: inherit;
}

div {
    min-height: 150px;
    padding: 25px;
}

#red {
    min-height: 150px;
    background-color:red;
    text-align: right;
}

#blue {
    min-height: 150px;
    background-color: blue;
    text-align: left;
}

#yellow {
    min-height: 150px;
    background-color:yellow;
    text-align: right; 

}

#yellow h2 {
    color: #000000;
    text-shadow: 5px 5px 2px #c7e2c7;

}

#yellow p {
    color: #000000;

}

#green {
    min-height: 150px;
    background-color: green;
    text-align: left;
}

footer p{
    text-align: right;
    padding-bottom: 10px;
    padding-right: 10px;
}